:root {
    --red: #ed1c24;
    --green: #28a745;
    --white: #ffffff;
    --black: #000000;
    --apercu-light: apercu-light;
    --apercu-medium: apercu-medium;
    --apercu-bold: apercu-bold;
    --butler-regular: butler-regular;
    --butler-bold: butler-bold;
    --futurak-regular: futurak-regular;
    --d-grey: #ffffff0f;
    --l-grey: #ffffffb3;
    --futura_black_bt: futura-black;
}

/* navbar section started */
.navbar {
    margin-top: 10.5px;
}

.logo {
    width: 165px;
}

.nav-items {
    font-size: 1.6rem;
    gap: 30px;
}

.franchise-btn {
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 12px 16.5px;
    border-radius: 35px;
    font-size: 1.4rem;
}

.online-btn {
    padding: 12px 16.5px;
    border-radius: 35px;
    border: none;
    background-color: #ed1c24;
    font-size: 1.4rem;
}

.font-bg {
    background-color: #ffffff;
    color: var(--red);
    padding: 6px 7px;
    border-radius: 23px;
    margin-left: 7px;
}

/* navbar section ended */

/* carousel section started */
.carousel {
    width: 100%;
}

/* carousel section ended */

/* restaurants section started */
.restaurant-text {
    margin-top: 80px;
}

.heading-text {
    font-size: 4rem;
    margin-bottom: 9px;
    line-height: 50px;
}

.text-futurak-snp {
    font-family: var(--futurak-regular);
    font-size: 5rem;
    letter-spacing: 3px;

}

.slogan-text {
    font-size: 1.6rem;
    line-height: 19px;
    letter-spacing: 0.3px;
    color: var(--l-grey);
    margin-bottom: 48px;
}

.restaurants {
    gap: 35px;
    margin: 55px;

}

.restaurant-image {
    background-color: #ffffff;
    border-radius: 3px;
    padding: 0px 19px;
    object-fit: contain;
    width: 250px;
    height: 140px;
}

.order-btn,
.table-btn {
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 13px 16.5px;
    font-size: 1.4rem;
    width: 174px;
    height: 50px;
    border-radius: 50px;
}

/* restaurants section ended */

/* franchise section started */
.franchise-section {
    background-color: var(--d-grey);
    padding: 70px 70px 35px 70px;
}

.franchise-heading-text {
    font-size: 4.8rem;
    margin-bottom: 8px;
    line-height: 60px;
    font-family: var(--butler-regular);
    letter-spacing: 0.5px;
}

.islamabad-restaurant,
.faisalabad-restaurant,
.bhawalpur-restaurant {
    margin: 50px 40px;
}

.uppercity {
    text-transform: uppercase;
    letter-spacing: 7.5px;
    font-size: 1.6rem;
    color: var(--red);
    margin-bottom: 8px;
    display: block;
    font-style: normal;
    font-weight: 500;
}

.city-futurak-snp {
    font-family: var(--futurak-regular);
    font-size: 3.2rem;
    letter-spacing: 3px;
    line-height: 29px;
    text-align: center;
}

.city-text {
    line-height: 38px;
    font-size: 3.2rem;
    margin-bottom: 24px;
    font-weight: 400;
}

.restaurant-address {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: var(--l-grey);
    margin-bottom: 10px;
}

.restaurant-contact {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: var(--l-grey);
    margin-bottom: 40px;
}

.direction-btn {
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 12px 16.5px;
    border-radius: 35px;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white);
    line-height: 21px;
}

.city-restaurant-image {
    width: 450px;
    height: 245px;
}

.snp-image {
    position: relative;
}

.snp-right {
    position: absolute;
    right: 0px;
    bottom: 650px;
    z-index: -1;
}

/* franchise section ended */

/* express section started */
.express-section {
    padding: 70px;
}

.snp-left {
    position: absolute;
    left: -25px;
    top: -100px;
    z-index: -1;
}

.express-restaurant {
    margin: 50px 25px 50px 25px;

}

.express-restaurant-2 {
    margin: 50px 200px;
}


.express-restaurant-image {
    width: 350px;
    height: 250px;
}

.uppercity-express {
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: 7.5px;
    text-transform: uppercase;
    color: var(--red);
    text-align: center;
    margin-bottom: 8px;
    display: block;
    margin-top: 24px;
}

.city-futurak-snp-express {
    font-family: var(--futurak-regular);
    font-size: 2.4rem;
    letter-spacing: 3px;
    line-height: 29px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.city-text-express {
    line-height: 29px;
    font-size: 2.4rem;
    margin-bottom: 18px;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.restaurant-address-express {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.5px;
    color: var(--l-grey);
    margin-bottom: 12px;
    font-style: normal;
}

.restaurant-contact-express {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.5px;
    color: var(--l-grey);
    font-style: normal;
    margin-bottom: 40px;
}

/* express section ended */

/* village section started */
.village-section {
    background-color: var(--d-grey);
    padding: 70px 70px 35px 70px;

}

.gujranwala-village {
    margin: 40px 0px;
}

.village-image {
    width: 600px;
    border-radius: 3px;
}

.direction-btn-village {
    background-color: var(--green);
    border: 1px solid none;
    padding: 12px 16.5px;
    border-radius: 35px;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white);
    line-height: 21px;
}

.font-bg-village {
    background-color: #ffffff;
    color: var(--green);
    padding: 6px 7px;
    border-radius: 23px;
    margin-left: 7px;
}

/* village section ended */
/* opening section started */
.opening-section {
    padding: 70px 70px 25px 70px;
}

.opening-soon {
    font-family: var(--butler-regular);
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
}

.open-1,
.open-2,
.open-3 {
    margin: 25px 50px;
}

.city-open {
    background-color: var(--white);
    border-radius: 3px;
    width: 350px;
    height: 230px;
}

.location-icon {
    color: var(--red);
    font-size: 4.5rem;
    margin-bottom: 1px;
    padding: 10px;
}

.opening-text {
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 12px;
    letter-spacing: 7.5px;
    text-transform: uppercase;
    color: var(--red);
    margin-bottom: 8px;
}

.open-text-express {
    line-height: 29px;
    font-size: 2.1rem;
    margin-bottom: 5px;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: var(--black);
}

.open-futurak-snp-express {
    font-family: var(--futurak-regular);
    font-size: 2.2rem;
    letter-spacing: 3px;
    line-height: 29px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: var(--black);
}

.location-name {
    font-family: var(--futura_black_bt);
    font-style: normal;
    font-weight: 400;
    font-size: 2.1rem;
    line-height: 29px;
    color: var(--black);
}

.city-name {
    font-family: var(--futura_black_bt);
    font-style: normal;
    font-weight: 400;
    font-size: 2.1rem;
    color: var(--black);
    margin-bottom: 5px;
    line-height: 30px;
}

/* opening section ended */

/* feed section started */
.social {
    font-family: var(--butler-regular);
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 50px;
}

.post {
    width: 250px;
    height: 250px;
    margin-bottom: 60px;
}

/* feed section endeded */

/* footer section started */
.footer-section {
    color: var(--white);
    width: 100%;
    padding: 70px 15px 0px 15px;
    background-color: var(--d-grey);
}

.footer-container {
    margin: 0px 20px;
}

.footer-logo-img {
    width: 140px;
    height: 64px;
    background-color: transparent;
    margin-bottom: 10px;
}

.footer-text {
    padding-bottom: 24px;
    padding-right: 0px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 21px;
    letter-spacing: 0.5px;
    color: var(--l-grey);
    display: block;
}

.links-tc-pp,
.links-site,
.info-list,
.media-list,
.app-list {
    list-style: none;
}

.tc,
.pp {
    text-decoration: none;
    color: var(--l-grey);
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.footer-heading {
    font-family: var(--butler-regular);
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 19px;
    color: var(--white);
    padding-bottom: 24px;
}

.st {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: var(--l-grey);
    text-decoration: none;
}

.info-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 19px;
    color: var(--white);
}

.info-detail {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: var(--l-grey);
    text-decoration: none;
}

.media-icon {
    font-size: 1.7rem;

}

.media-link {
    display: flex;
    align-items: center;
    margin-right: 8px;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: var(--red);
    color: var(--white);
    border-radius: 50px;
    text-decoration: none;
}

.media-list {
    display: flex;
    justify-content: space-around;
}

li {
    padding-bottom: 12px;
}

hr {
    border: 1px solid var(--d-grey);
    margin: 20px 40px;
}

.footer-copyright {
    margin: 0px 20px;
}

.restaurant-initial {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: var(--l-grey);
    margin-bottom: 10px;
}

.author {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: var(--l-grey);
}

.profile-link{
    text-decoration: none;
    color: var(--l-grey);
}
/* footer section ended */